<div class="card">
  <div class="img-container">
    {{!-- <h5>{{whiskyId}}</h5> --}}
    <img class="card-img-top" src="http://localhost:3001/api/whiskeys/{{whiskyId}}" alt="Card image cap">
  </div>
  <div class="card-body">
    <div class="card-header">
      <h5 class="card-title">Your Rating <span>{{rating}}</span></h5>
    </div>

    {{!-- <div class="collapse" id="commentsList"> --}}
      <h5 class="card-title" data-bs-toggle="collapse" href="#commentsList" role="button" aria-expanded="false"
        aria-controls="commentsList">Your Comments</h5>
      <div class="comment-section">
        <p class="comment-text border">{{comment}}</p>
      </div>
      {{!--
    </div> --}}


  </div>
</div>