
<div class="row above-title"></div>
<div class="row title-container m-0 p-0 text-white">
  {{!-- main title --}}
  <h1 class="whiskers-title m-0 p-0 col-6">Whiskers</h1>
  <h2 class="share-text m-0 p-0 col-6">Share Your Whisky Journey</h1>
  
</div>