<div class="row login-container">
  <div class="row above-form"></div>
  <div class="col-md-6 form-container">
    <h2 class="login-title">Login</h2>

    <form class="form login-form" autocomplete="off">
      <div class="form-group email-field">
        {{!-- <label for="email-login">email:</label> --}}
        <input class="form-input" type="email" placeholder="email" id="email-login" required/>
      </div>
      <div class="form-group password-field">
        {{!-- <label for="password-login">password:</label> --}}
        <input class="form-input" type="password" placeholder="password" id="password-login" required />
      </div>
      <div class="form-group login-button-container">
        <button class="btn btn-secondary btn-lg" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
