<div class="row login-container">
  <div class="row search-container">
    <div class="col-md-6">
      <h1 class="search-title">Search Results</h1>
    </div>
  </div>
  <div class="my-search-results-container">
    {{!-- <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-container">
          <div class="card whiskey-card">
            <img src="/public/assets/images/ballantines-blended.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Whiskey Name {{whiskeys}}</h5>
              <p class="card-text">Whiskey Description</p>
              <div class="rating-container">
                <div class="rating-container">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
              </div>
              <!-- Comment Section placeholder -->
              <div class="comment-section">
                {{comment-section}}
                <textarea class="form-control" id="comment" rows="3" placeholder="Leave a comment"></textarea>
                <button type="button" class="btn btn-primary mt-2">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> --}}
  </div>
</div>
<script>
  const searchTerm = "{{search}}";

</script>

<script src="./js/search-results.js"></script>