<div class="row login-container">
  <div class="row above-form"></div>
  <div class="col-md-6 form-container">
    <h2 class="login-title">Search Results</h2>

    <form class="form login-form">
      <div class="form-group email-field">
        {{!-- <label for="email-login">email:</label> --}}
        <input class="form-input" type="text" placeholder="email" id="email-login" />
      </div>
      <div class="form-group password-field">
        {{!-- <label for="password-login">password:</label> --}}
        <input class="form-input" type="password" placeholder="password" id="password-login" />
      </div>
      <div class="form-group login-button-container">
        <button class="btn btn-secondary btn-lg" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
