:root {
    --primary-color: #ffffff;
    /* White */
    --secondary-color: #aaaaaa;
    /* Light Grey */
}

html,
body {
    height: 100%;
    background-image: url('../assets/images/Wood.jpeg');
    background-size: cover;
    /* Cover the entire page */
    /* background-position: center; Center the background image */
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.navbar-brand {
    font-family: "Oswald", sans-serif;
    font-size: 2em;
}

.nav-link {
    font-family: "Average", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 2em;
}

/* <weight>: Use a value from 200 to 700  */

.above-title,
.above-form {
    height: 20em;
}

.title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.whiskers-title {
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 10em;
    font-style: normal;
}

.share-text,
.login-title,
.signup-title,
.admin-title,
.search-title {
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 5em;
    color: var(--secondary-color);
}

.login-container,
.form-container {
    display: flex;
    justify-content: center;
}


.search-results,
.form-container {
    flex-direction: column;
    align-items: center;
}

.login-title,
.signup-title,
.search-title {
    letter-spacing: .1em;
}

.login-button-container {
    display: flex;
    justify-content: center;
}

.email-field,
.password-field,
.name-field {
    margin: 1em;

}

input[type="text"],
input[type="password"] {
    font-family: "Oswald", sans-serif;
    letter-spacing: .1em;
    text-align: center;
    font-size: 2em;
}

.form-input {
    width: 20em;
    height: 2em;
}

.form-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40vh;
    height: 100vh; 
    width: 100%; 
}

.search-results,
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto; 
}

.search-container {
    max-width: 100%;
  }
  
.whiskey-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary-color);
}
  
html, body {
    height: 100%;
    margin: 0;
  }
  
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .profile-name-container {
    display: flex;
    justify-content: space-between;
}

.search-and-name {
    display: flex;
    align-items: center;
}


input[type="text"].whisky-search {
    width: 12em;
    height: 2em;
}



.profile-container {
    height: 60em;
    /* background-color: var(--secondary-color); */
    border: 2px solid #ffffff;

}

.my-whiskys-container,
.whisky-feed-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(171, 171, 171, 0.3);
    ;
    border: 2px solid #ffffff;
    /* 2px wide solid white border */
    height: 59em;
    /* opacity: 50%; */
}

.my-whiskys-title-container,
.whisky-feed-title-container {
    display: flex;
    justify-content: center;
}

.profile-name,
.my-whiskys-title,
.whisky-feed-title {
    font-family: "Oswald", sans-serif;
    color: var(--primary-color);
    font-weight: 200;
    font-size: 4em;
}

.my-whiskys-content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.my-whisky-feed-content-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 50%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: end;

}

.whiskey-card {
    height: 500px;
    width: 320px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #ffffff;
    position: relative;

    align-items: center;


}

.card-img-top {
    height: auto;
    width: 12em;
}

.card-header {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.search-title,
.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .list-group-item {
    display: flex;
    flex-direction: column;
} */