:root {
    --primary-color: #ffffff;
    /* White */
    --secondary-color: #aaaaaa;
    /* Light Grey */
}



body {
    background-image: url('../assets/images/Wood.jpeg');
    background-size: cover;
    /* Cover the entire page */
    /* background-position: center; Center the background image */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-brand {
    font-family: "Oswald", sans-serif;
}

.nav-link {
    font-family: "Average", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 2em;
}

/* <weight>: Use a value from 200 to 700  */

.above-title,
.above-form {
    height: 20em;
}

.title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.whiskers-title {
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 10em;
    font-style: normal;
}

.share-text,
.login-title,
.signup-title,
.admin-title {
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 5em;
    color: var(--secondary-color);
}

.login-container,
.form-container {
    display: flex;
    justify-content: center;
}

.form-container {
    flex-direction: column;
    align-items: center;
}

.login-title,
.signup-title {
    letter-spacing: .1em;
}

.login-button-container {
    display: flex;
    justify-content: center;
}

.email-field,
.password-field,
.name-field {
    margin: 1em;

}

input[type="text"],
input[type="password"] {
    font-family: "Oswald", sans-serif;
    letter-spacing: .1em;
    text-align: center;
    font-size: 2em;
}

.form-input {
    width: 20em;
    height: 2em;
}

